@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;

.loader-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include mediumFont;
    background: $white_b;
}
.loader-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include fade-in-loader;
}
.loading{
    width: 400px;
    filter: grayscale(80);
    -webkit-filter: grayscale(80);
}

