@import '../partials/variables.scss';
@import '../partials/mixins.scss';

.homepage-postheader{
  @include bigFont;
  color: $black_a;
  margin: 30px 0;
}
.homepage-content{ 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 10 auto;
  @include fade-in-slow
}
.homepage-error-wrap{
  @include mediumFont;
  height: 295px;
  width: 304px;
  position: relative;
  background-color: $white_a;
  box-shadow: $box-shadow_a;
  border-radius: $border-radius_a;
  text-align: center;
  overflow: hidden;
}
.homepage-error-ico{
  @include icoFont;
  color: $black_b;
  margin: 110px auto 8px;
}
.homepage-img-wrap{
  height: 295px;
  width: 304px;
  overflow: hidden;
  position: relative;
  background-color: $white_a;
  box-shadow: $box-shadow_a;
  border-radius: $border-radius_a;
}
.homepage-img-wrap img {
  object-fit: cover;
  width: 100% ;
  height: 80%;
} 
.homepage-count-images{
  @include smallFont;
  position: absolute;
  color: $white_a;
  background-color: $black_d;
  border-radius: $border-radius_b;
  margin: 10px;
  padding: 5px 10px;
  min-width: 38px;
  min-height: 15px;
} 
.homepage-folder-title{
  @include mediumFont;
  text-align: center;
  padding: 15px;
}
@media screen and (max-width: 1300px) {
    .homepage-content{
      grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 997px) {
    .homepage-content{
      grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 680px) {
    .homepage-content{
      grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 320px) {
    .homepage-img-wrap{
      width: 95vw;
      margin: auto;
    }
}