@import '../partials/variables.scss';
@import '../partials/mixins.scss';

.pagelayout-postheader{
    @include bigFont;
    color: $black_a;
    margin: 30px 0;
}
.pagelayout-postheader .pagelayout-arrowback{
    font-size: 15px;
    margin-right: 10px;
}