@import '../partials/variables.scss';
@import '../partials/mixins.scss';

.newcategoryico{
  height: 295px;
  width: 304px;
  background-color: $white_a;
  box-shadow: $box-shadow_a;
  border-radius: $border-radius_a;
  text-align: center;
  cursor: pointer;
}
.newcategoryico-plus-ico {
  @include icoFont;
  padding-top: 110px;
  opacity: .4;
}
.newcategoryico-text{
  @include mediumFont;
  padding-top: 10px;
}

@media screen and (max-width: 320px) {
  .newcategoryico {
    width: 95vw;
    margin: auto;
  }
}  