$black_a: #000000;
$black_b: #4747476c;
$black_c: #0000008F;
$black_d: #00000052;

$white_a: #FFFFFF;
$white_b: #F9F9F9;
$white_c: #DDDDDD;

$red_a: rgb(255, 0, 13);

$box-shadow_a:0px 4px 24px #00000014;

$border-radius_a: 4px;
$border-radius_b: 16px;
